* {
margin: 0;
padding: 0;
box-sizing: border-box;
	/* font-family: 'Kaushan Script', 'Neuton','Ledger','Fanwood-Text', 'Shrikhand','Adellove', 'Intro', 'Intro-Inline', 'Aller', sans-serif; */
 font-family: 'Paytone One', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto', sans-serif;
}

.modal {
    overflow: scroll;
}

.index__page {
    /* position: relative; */
}

.page__background {
    background-color: #f2f9fc;
    min-height: 100vh;
}

img {
   max-width: 100%;
   max-height: 100%;

}

.hero__background {
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
	padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 60px;
	/* border-bottom: solid 10px #4788C8FF;    */
}

.card {
    border: none;
}


#headingOne,

#headingThree,

#headingFive
{
    background: none;
}

.btn-link {
    color: black;
}

#headingTwo,
#headingFour,
#headingSix  {
    background:#f2f9fc;
}

.btn-lg,
#start__diagnostic {
    background: #4788C8FF;
    color: white;
}

.h6 {
    font-size: 50vw;
}

.h3__text {
    font-weight: normal;
    margin: 1rem;
    font-style: italic;
}


/* .hero__landing:after {
    content: "";
    position: absolute;
    background: red;
    top 0;
    left 0;
    width: 100%;
    height: 100%;
} */

.bottom__background {
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    width: 100vw;
    height: auto;
    max-width: 100%;
    min-width: 100%; 
    /* margin-left: -1281px; */
    overflow: hidden;
}

.footer__background {
    position: absolute;
    left: 0%;
    bottom: fixed;
    z-index: -1;
    width: 2562px;
    /* height: auto; */
    max-width: 100%;  
    min-width: 100%; 
    /* margin-left: -1281px; */
    overflow: hidden;
}

.faq__section {
    margin-top: 5%;
    font-family: 'Paytone One', sans-serif;
}


#status,
#h1__text {
    font-family: 'Paytone One', sans-serif;
}

.btn__diagnostic {
    background-color: #f4976c;
    color: white;
}

.btn {
    /* font-family: 'Paytone One', sans-serif; */
/* font-family: 'Fira Sans', sans-serif; */
font-family: 'Oxygen', sans-serif;
/* font-family: 'Roboto', sans-serif; */
}

.page-footer {
    position: relative;
    /* background-color: #f4976c; */
}

.footer-copyright {
     /* background-color: #f4976c; */
}

.btn__faq {
    margin-top: 10px;
}


                                /* MEDIA QUERIES */
@media (min-width: 544px){
#h1__text {
    font-size: 8vw;
}

#h6__text {
    font-size: calc(100% + 1vw + 1vh);
}

.text__responsive {
    font-size: calc(100% + 1vw + 1vh);
    text-align: center;
}

.fas {
    font-size: 2vh;
}

.faq__section {
    font-size: calc(100% + 1vw + 1vh);
}

.btn__faq {
    margin-top: 0;
}


}

@media (min-width: 992px){
    .text__responsive {
        font-size: inherit;
        text-align: center;
    }

    .btn__faq {
        margin-top: 0;
    }
    
    
    
    #h1__text {
    font-size: 50px;
    }

    #h6__text {
        font-size: 1.2rem;
    }

    .h3__text {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 1rem;
    }

    /* .container__hero img {
        max-width: 50px;
        height: auto;
    } */

    /* .index__page {
        height: 100vh;
        width: auto;
    } */
    .navbar {
      position: absolute;
    }
}